:root {
  --background-first: #ffffff;
  --background-second: #eeeeee;
  --text-color-first: #000000;
  --text-color-secont: #ffffff;
  --text-color-hover: #FB565A;
  --text-adress: #666666;
  --text-footer: #444444;
  --text-color-active: rgba(255, 255, 255, 0.3);
  --text-color-catalog-active: rgba(0, 0, 0, 0.3);
  --text-product: #283136;
  --background-botton-1: #FB565A;
  --background-botton-1-focus: #E74246;
  --background-botton-1-active: #D7373B;
  --background-botton-2: #00CA74;
  --background-botton-2-focus: #00BC6C;
  --background-botton-2-active: #00AA62;
  --background-botton-3: #EFC849;
  --background-botton-3-focus: #EAB534;
  --background-botton-3-active: #E5A722;
  --background-botton-social: #e1e1e1;
  --background-botton-catalog-focus: #DFDFDF;
  --background-botton-catalog-active: #D5D5D5;
  --checkbox-color: #4D4D4D;
  --botton-slider: #C1C1C1;
  --botton-sort-active: #231F20;
  --border-input: #D7DCDE;
  --botton-shadow: rgba(0, 1, 1, 0.1);
  --popup-shadow: rgba(0, 0, 0, 0.4);
  --card-header: #EAEAEA;
  --card-header-focus: #4D4D4D;
  --tiggle: #ABABAB;
  --tiggle-shadow: rgba(0, 0, 0, 0.15);
  --scale: #D7DCDF;
  --scale-bar: #00CA74;
  --text-card: #666666;
  --card-shadow: rgba(0, 1, 1, 0.25);
  --font-family-first: "Roboto", Arial, sans-serif;
}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-family-first, Arial, sans-serif);
  color: var(--text-color-first, black);

  background-color: var(--background-first, white);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin: 0;
  padding: 0;
  text-transform: none;
}

.button-link {
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  padding-top: 17px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-secont, white);
  background-color: var(--background-botton-1, red);
  border-radius: 3px;
  border: none;
}

.button-link:focus {
  background-color: var(--background-botton-1-focus, darkred);
}

.button-link:hover {
  background-color: var(--background-botton-1-focus, darkred);
}

.button-link:active {
  color: var(--text-color-active);
  box-shadow: inset 0 3px 0 var(--botton-shadow, gray);
  background-color: var(--background-botton-1-active, darkred);
}

.button-link-catalog {
  color: var(--text-color-first, black);
  background-color: var(--background-second, gray);
}

.button-link-catalog:hover,
.button-link-catalog:focus {
  background-color: var(--background-botton-catalog-focus, darkgray);
}

.button-link-catalog:active {
  color: var(--text-color-catalog-active, black);
  background-color: var(--background-botton-catalog-active, darkgray);
}

.link:not([href]),
.link:not([href]):hover,
.link:not([href]):focus,
.link:not([href]):active {
  color: var(--text-color-first, black);
  opacity: 1;
  cursor: default;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.navigation-main {
  font-weight: 500;
  line-height: 30px;
  background-color: var(--background-second, gray);
}

.navigation-main .wrapper {
  display: flex;
}

.logo {
  margin-top: 49px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  max-width: 660px;
  margin: 0;
  margin-top: 75px;
  padding: 0 20px;
  list-style: none;
}

.navigation-item:not(:last-of-type) {
  margin-right: 44px;
}

.navigation-item:nth-of-type(2) {
  margin-right: 49px;
}

.navigation-item:nth-of-type(3) {
  margin-right: 45px;
}

.basket-link {
  margin-top: 75px;
  margin-left: auto;
  padding-left: 10px;
}

.basket-link::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 21px;
  vertical-align: middle;
  background-image: url("../img/cart-icon.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.navigation-link,
.basket-link {
  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-first, black);
}

.navigation-link:not([href])::after,
.basket-link:not([href])::after {
  position: absolute;
  bottom: -21px;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--background-botton-1, red);
  content: "";
}

.navigation-link:hover,
.navigation-link:focus,
.basket-link:hover span,
.basket-link:focus span {
  color: var(--text-color-hover, red);
}

.navigation-link:active,
.basket-link:active span {
  color: var(--text-color-first, black);
  opacity: 0.3;
}

.advantages-slider {
  background-color: var(--background-second, gray);
}

.button-slider-label {
  position: absolute;
  bottom: 96px;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;

  background-color: var(--background-first, white);
  border-radius: 50%;
}

.button-slider-label:nth-of-type(1) {
  left: 536px;
}

.button-slider-label:nth-of-type(2) {
  left: 571px;
}

.button-slider-label:nth-of-type(3) {
  left: 606px;
}

.button-slider:checked + .button-slider-label::after {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);

  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid var(--botton-slider, gray);
  border-radius: 50%;
  content: "";
}

.button-slider + .button-slider-label:hover,
.button-slider:focus + .button-slider-label,
.button-slider + .button-slider-label:active {
  background-color: var(--botton-slider, gray);
  border: 5px solid var(--background-first, white);
  border-radius: 50%;
}

.slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  display: none;
}

.button-slider:nth-of-type(1):checked ~ .slides-list > .slides-item:nth-child(1) {
  display: block;
}

.button-slider:nth-of-type(2):checked ~ .slides-list > .slides-item:nth-child(2) {
  display: block;
}

.button-slider:nth-of-type(3):checked ~ .slides-list > .slides-item:nth-child(3) {
  display: block;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 420px;
  padding-top: 67px;
  padding-bottom: 80px;
}

.slides-item:nth-of-type(1) > .slide {
  background-image: url("../img/nerds-slide1.jpg");
  background-size: 760px 431px;
  background-repeat: no-repeat;
  background-position: calc(100% - 3px) bottom;
}

.slides-item:nth-of-type(2) > .slide {
  background-image: url("../img/nerds-slide2.jpg");
  background-size: 760px 431px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slides-item:nth-of-type(3) > .slide {
  background-image: url("../img/nerds-slide3.jpg");
  background-size: 760px 431px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.slide-title {
  width: 520px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-text {
  width: 416px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.slides-item:nth-of-type(1) .slide-text {
  margin-top: 27px;
}

.slides-item:nth-of-type(2) .slide-text {
  margin-top: 37px;
}

.slides-item:nth-of-type(3) .slide-text {
  margin-top: 37px;
}

.slide-link {
  min-width: 240px;
  margin-top: auto;
}

.products .wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--background-second, gray);
  background-color: var(--background-first, white);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  display: flex;
}

.products-item:not(:last-child) {
  margin-right: 100px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  min-height: 347px;
}

.products-item:nth-of-type(1) > .product {
  background-color: var(--background-first, white);
  background-image: url("../img/illustration1.png");
  background-size: 300px 146px;
  background-repeat: no-repeat;
  background-position: top;
}

.products-item:nth-of-type(2) > .product {
  background-color: var(--background-first, white);
  background-image: url("../img/illustration2.png");
  background-size: 300px 146px;
  background-repeat: no-repeat;
  background-position: top;
}

.products-item:nth-of-type(3) > .product {
  background-color: var(--background-first, white);
  background-image: url("../img/illustration3.png");
  background-size: 300px 146px;
  background-repeat: no-repeat;
  background-position: top;
}

.product-title {
  padding-top: 171px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-text {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-right: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-product, darkgray);
}

.product-link {
  margin-top: auto;
  min-width: 160px;
}

.products-item:nth-of-type(2) .product-link {
  background-color: var(--background-botton-2, green);
}

.products-item:nth-of-type(3) .product-link {
  background-color: var(--background-botton-3, yellow);
}

.products-item:nth-of-type(2) .product-link:hover {
  background-color: var(--background-botton-2-focus, darkgreen);
}

.products-item:nth-of-type(2) .product-link:active {
  background-color: var(--background-botton-2-active, darkgreen);
}

.products-item:nth-of-type(3) .product-link:hover {
  background-color: var(--background-botton-3-focus, rgb(126, 126, 0));
}

.products-item:nth-of-type(3) .product-link:active {
  background-color: var(--background-botton-3-active, rgb(126, 126, 0));
}

.about-us .wrapper {
  display: flex;
  padding-top: 39px;
  padding-bottom: 73px;
  border-bottom: 2px solid var(--background-second, gray);
  background-color: var(--background-first, white);
}

.left-column {
  width: 660px;
}

.about-us-title {
  margin-top: 34px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us-text {
  margin-top: 34px;
  margin-bottom: 40px;
  padding-right: 10px;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-product, darkgray);
}

.about-us-product-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--text-product, darkgray);
}

.about-us-product-list {
  margin-top: 23px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.about-us-product-text {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-product, darkgray);
}

.about-us-product-item:last-of-type .about-us-product-text {
  margin-bottom: 0;
}

.about-us-product-text::before {
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 11px;
  margin-bottom: 8px;
  vertical-align: text-bottom;
  background-color: var(--background-botton-1, red);
  content: "";
}

.right-column {
  width: 360px;
  margin-left: auto;
}

.about-us-numbers-title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.about-us-numbers-table {
  margin-top: 27px;
  margin-left: -2px;
}

.about-us-numbers-header {
  min-width: 117px;
  padding: 0;
  padding-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: var(--text-product, darkgray);
}

.about-us-numbers-data {
  padding: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.about-us-numbers-data .percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}

.partners {
  background-color: var(--background-first, white);
}

.partners .wrapper {
  margin-bottom: 80px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--background-second, gray);
  background-color: var(--background-first, white);
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 301px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.partners-item:first-of-type {
  padding-top: 11px;
  padding-right: 15px;
}

.partners-item:nth-of-type(4) {
  padding-top: 5px;
  padding-left: 20px;
}

.partners-item::after {
  position: absolute;
  right: -1px;
  top: 18px;

  width: 2px;
  height: 52px;
  background-color: var(--background-second, gray);
  content: "";
}

.partners-item:nth-child(4n-3) {
  width: 279px;
}

.partners-item:nth-child(4n-3)::after {
  position: absolute;
  right: -1px;
  top: 18px;

  width: 2px;
  height: 52px;
  background-color: var(--background-second, gray);
  content: "";
}

.partners-item:nth-child(4n) {
  width: 279px;
}

.partners-item:nth-child(4n)::after {
  display: none;
}

.partner-link {
  opacity: 0.2;
}

.partner-link:focus,
.partner-link:hover {
  opacity: 1;
}

.partner-link:active {
  opacity: 0.1;
}

.partner-logo {
  display: block;
}

.contacts {
  position: relative;
  height: 416px;
  background-color: var(--background-second, gray);
  background-image: url("../img/map-marker.png"), url("../img/map.png");
  background-size: 231px 190px,  1440px 416px;
  background-repeat: no-repeat;
  background-position: calc(50% + 218px) calc(50% - 28px), center center;
}

.yandex-map {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border: none;
}

.contacts .wrapper {
  position: relative;
}

.adress {
  position: absolute;
  left: 0;
  top: 54px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 319px;
  min-height: 308px;
  padding-top: 49px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 50px;
  background-color: var(--background-first, white);
}

.address-contacts {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-adress, darkgray);
}

.address-contacts:first-of-type {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-first, black);
}

.address-contacts:last-of-type {
  margin-top: 10px;
}

.tel-contacts {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-adress, darkgray);
}

.button-adress {
  margin-top: auto;
  min-width: 219px;
}

.social-networks .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 57px;
  padding-right: 10px;
  padding-bottom: 60px;
}

.social-networks-list {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-networks-link {
  position: relative;
  display: block;
  width: 78px;
  height: 78px;
  margin-top: 12px;
  margin-left: 12px;

  background-color: var(--background-botton-social, gray);
  border-radius: 50%;
}

.social-networks-item:first-of-type .social-networks-link {
  margin-left: 1px;
}

.social-networks-link:focus,
.social-networks-link:hover {
  background-color: var(--background-botton-1-focus, darkred);
}

.social-networks-link:active {
  background-color: var(--background-botton-1-active, darkred);
  box-shadow: inset 0 3px 0 var(--botton-shadow);
}

.social-networks-link:active .icon {
  opacity: 0.3;
}

.social-networks-item .icon {
  position: absolute;
  display: block;
}

.social-networks-item:nth-child(1) .icon {
  top: calc(50% - 15px/2);
  left: calc(50% - 26px/2);
  width: 26px;
  height: 15px;
  background-color: transparent;
  background-image: url("../img/vk-icon.svg");
  background-size: 26px 15px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-networks-item:nth-child(2) .icon {
  top: calc(50% - 22px/2);
  left: calc(50% - 12px/2);
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-networks-item:nth-child(3) .icon {
  top: calc(50% - 21px/2);
  left: calc(50% - 21px/2);
  width: 21px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: center center;
}

.right-column-social {
  width: 750px;
  padding-top: 18px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
}

.social-networks-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.social-networks-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-footer);
}

.write-us {
  position: absolute;
  top: calc(50% - 590px/2);
  left: calc(50% - 960px/2);
  width: 960px;
  min-height: 590px;
  padding: 63px 99px 84px 100px;
  background-color: var(--background-first, white);
  box-shadow: 0 20px 40px var(--popup-shadow);
}

.write-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.write-us-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.write-us-label {
  display: block;
  margin-top: 37px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.write-us-item:last-of-type .write-us-label {
  margin-top: 35px;
}

.input {
  display: block;
  margin-top: 9px;
  padding: 12px;
  padding-right: 0;
  border: 2px solid var(--border-input, gray);
  border-radius: 3px;
}

.write-us-item:last-of-type .input {
  padding-left: 15px;
}

.input:focus {
  border-color: var(--text-color-first, black);
}

.input:invalid {
  border-color: var(--background-botton-1-focus, red);
  color: var(--background-botton-1-focus, red);
}

.write-us-item:not(:last-of-type) .input {
  width: 360px;
  height: 50px;
}

.write-us-item:last-of-type .input {
  width: 760px;
  height: 119px;
  resize: none;
}

.input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;
  font-family: var(--font-family-first);
  color: var(--text-footer, gray);
  opacity: 0.5;
}

.input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: var(--font-family-first);
  color: var(--text-footer, gray);
  opacity: 0.5;
}

.input:focus::-moz-placeholder {
  color: var(--text-color-first, black);
  opacity: 1;
}

.input:focus::-webkit-input-placeholder {
  color: var(--text-color-first, black);
  opacity: 1;
}

.button-write-us {
  margin-top: 45px;
  min-width: 259px;
}

.button-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color: var(--background-first, white);
  background-image: url(../img/close-cross.svg);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  opacity: 0.3;
}

.button-close:hover,
.button-close:focus {
  opacity: 1;
  outline: none;
}

.button-close:active {
  opacity: 0.1;
}

.page-catalog > .wrapper {
  display: grid;
  grid-template-columns: 260px min-content;
  align-items: start;
  justify-content: space-between;
}

.page-catalog-title {
  background-color: var(--background-second, gray);
}

.catalog-title {
  margin-right: 14px;
  padding: 67px 20px 108px;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.filter {
  grid-row: 1/3;
  padding-top: 55px;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.legend {
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-top: 49px;
  margin-bottom: 9px;
  padding: 39px 20px;
  background-color: var(--background-second, gray);
  border-radius: 4px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--scale, darkgray);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--scale-bar, green);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid var(--background-first, white);
  background-color: var(--tiggle, lightgray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--tiggle-shadow, darkgray);
  cursor: grabbing;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 14px;
  padding: 0;
}

.price-controls .input::-webkit-outer-spin-button,
.price-controls .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls .input[type=number] {
  -moz-appearance: textfield;
}

.price-controls label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--text-product, gray);
}

.price-controls .input {
  display: inline-block;
  width: 80px;
  height: 38px;
  margin: 0;
  margin-left: 11px;
  padding: 5px;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  color: var(--text-product, gray);

  border: none;
  border-radius: 3px;
  background-color: var(--background-second, gray);
}

.option:hover {
  cursor: pointer;
}

.fieldset-grid {
  margin-top: 53px;
}

.grid-list {
  margin: 0;
  margin-left: 4px;
  padding: 0;
  padding-top: 13px;
  list-style: none;
}

.grid-item:not(:first-of-type) {
  margin-top: 16px;
}

.filter input[type="radio"] + .otion-image {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 11px;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--checkbox-color, black);
  background-color: var(--background-first, white);
  border: 4px solid var(--background-first, white);
  opacity: 0.4;
}

.filter input[type="radio"]:checked + .otion-image {
  background-color: var(--checkbox-color, black);
}

.fieldset-special {
  margin-top: 44px;
}

.special-list {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

.special-item:not(:first-of-type) {
  margin-top: 16px;
}

.filter input[type="checkbox"] + .otion-image {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 9px;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px var(--checkbox-color, black);
  opacity: 0.4;
}

.filter input[type="checkbox"]:checked + .otion-image::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 23px;
  background-color: var(--background-first, white);
  background-image: url("../img/checkbox-on.svg");
  background-size: 25px 23px;
  background-position: 0%;
  background-repeat: no-repeat;
  content: "";
}

.filter input:focus + .otion-image,
.filter input:hover + .otion-image {
  opacity: 1;
}

.filter input:disabled + .otion-image {
  opacity: 0.1;
}

.filter input:disabled + .option-label {
  opacity: 0.3;
}

.filter-button {
  margin-top: 47px;
  width: 100%;
}

.sort {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.sort-title {
  max-width: 300px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort .sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  list-style: none;
}

.sort .sort-item {
  padding-right: 23px;
}

.sort .sort-item:nth-last-of-type(2) {
  padding-right: 16px;
}

.sort .sort-item:nth-last-of-type(3) {
  padding-right: 47px;
}

.sort .sort-item:last-of-type {
  padding-right: 0;
}

.sort-button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0.3;
}

.sort-button:hover,
.sort-button:active {
  opacity: 0.6;
}

.sort-button:active,
.sort-button:disabled {
  opacity: 1;
}

.sort-button-image {
  opacity: 0.3;
}

.sort-button-image:hover,
.sort-button-image:focus {
  opacity: 1;
}

.sort-button-image:active path,
.sort-button-image:disabled path {
  fill: var(--botton-sort-active, black);
}

.catalog {
  grid-column: 2/3;
  padding-top: 48px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 360px;
  min-height: 620px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.catalog-item:nth-of-type(2n) {
  margin-right: 0;
}

.card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  min-height: 620px;
  border-radius: 5px;
  background-color: var(--card-header, gray);
}

.card-product:hover {
  background-color: var(--card-header-focus, darkgray);
  box-shadow: 0 6px 15px var(--card-shadow, gray);
}

.round-box {
  margin-top: 9px;
  margin-bottom: 14px;
  margin-left: 15px;
}

.round-box .round {
  display: inline-block;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  background-color: var(--background-first, white);
  border-radius: 50%;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 231px;
  padding: 27px 20px 43px 20px;
  align-items: center;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.second-layer-link-title {
  position: relative;
  z-index: 2;
}

.second-layer-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.second-layer-price::after {
  content: "\00a0\20BD";
}

.card-product-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-first, black);
}

.card-product-title:hover,
.card-product-title:focus {
  color: var(--text-color-hover, red);
}

.card-product-title:active {
  color: var(--text-color-active, gray);
}

.card-product-text {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 12px 30px 12px 30px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--text-card);
}

.second-layer-link-price {
  position: relative;
  z-index: 2;
  margin-top: auto;
  min-width: 200px;
}

.card-product-image {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;

  width: 360px;
  height: 579px;
  padding: 1px;
  padding-top: 0;
  background-color: var(--card-header, lightgray);
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.card-product img {
  padding: 0;
  margin: 0;
}

.card-product:hover .card-product-image {
  z-index: 0;
}

.second-layer-link-title:focus ~ .card-product-image,
.second-layer-link-price:focus ~ .card-product-image {
  z-index: 0;
}

.backgraund-card-content {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: inherit;
  height: 100%;
  background-color: var(--background-second, gray);
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-product:hover .backgraund-card-content,
.second-layer-link-title:focus ~ .backgraund-card-content,
.second-layer-link-price:focus ~ .backgraund-card-content {
  z-index: 1;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 50px;
  list-style: none;
}

.pagination-item:not(:last-of-type) {
  margin-right: 11px;
  margin-bottom: 10px;
}

.pagination-item:last-of-type .button-link-catalog {
  min-width: 260px;
}

.pagination-item .button-link-catalog:not([href]) {
  background-color: var(--background-first, white);
  box-shadow: inset 0 0 0 3px var(--background-second);
}

